<header class="navbar navbar-fixed-top navbar-default  header-container-wrapper">
  <div class="container">
    <ul class="nav navbar-nav navbar-left">
      <%= link_to image_tag('rsz_catering.png'), controller: "/home", action: "index" %>
    </ul><nav>
    <ul class="nav navbar-nav">
      <li><%= link_to "Home",controller: "/home", action: "index" %></li>
      <li class ="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          Calendar <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
          <li><%= link_to "Calendar", calender_index_path %></li>
          <li><%= link_to "Create new Event" , new_event_path%></li>
        </ul>
      </li>
      <li class ="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          Drop text here <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">

          <li class="divider"></li>

        </ul>
      </li>
      <li class ="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          Drop text here <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">

        </ul>
      </li>
      <li class ="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          Drop text here <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">

        </ul>
      </li>
      <li class ="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          Drop text here <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">

        </ul>
      </li>
    </ul>
  </nav>
    <ul class="nav navbar-nav navbar-right">

    </ul>
  </div>
</header>
<!-- NAVBAR

<div class="container">

  <nav class="navbar navbar-inverse navbar-static-top" role="navigation" style="margin-bottom: 0px;">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="http://www.jssor.com/index.html">Bootstrap Slider</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li><a href="http://www.jssor.com/index.html">Home</a></li>
          <li><a href="http://www.jssor.com/demos/index.html">Demos</a></li>
          <li><a href="http://www.jssor.com/skins/index.html">Skins</a></li>
          <li><a href="http://www.jssor.com/development/index.html">Development</a></li>
          <li><a href="http://www.jssor.com/download.html">Download</a></li>
          <li><a href="http://www.jssor.com/support.html">Support</a></li>
        </ul>
      </div>
    </div>
  </nav>

</div>
================================================== -->